<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
       
 <style>
    .content{
        margin-top: 3rem;
        text-align: center;
    }
    .mine-panel{
        width: 500px;
        padding: 0 1rem;
        margin: auto;
    }
    .mine-row{
        margin-top: 0.5rem;
    }
 </style>
</head>
<body>
    <div id="app">
        <v-app>
          <div class="content">
            <div class="title">
                <h3>지뢰 찾기</h3>
            </div>
            <div class="mine-panel">
                <div 
                    v-for="idx in size"
                    :key = "'row'+ idx"
                    class="mine-row"
                    >
                    <v-btn 
                        v-for="jdx in size"
                        :key="'block' + jdx"
                        class="mr-0 mr-1"
                        min-width="40"
                        min-height="40"
                        color="grey lighten-1"
                    >
                    </v-btn>
                </div>
            </div>
          </div>
        </v-app>
    </div>

    <script>
        new Vue({
          el: '#app',
          vuetify: new Vuetify({
            theme: {dark : true},
          }),
        data (){
            return{
                size: 10,
            }
        },
    })
    </script>
 </body>
</html>